.Checkbox {
  display: inline-block;
  position: relative;
  height: 32px;
  overflow: hidden;
  span {
    display: inline-flex;
    position: relative;
    align-items: center;
    height: 100%;
    padding: 0 8px;
    border: 1px solid #888;
    background-color: #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
  }
  input[type='checkbox'] {
    position: absolute;
    top: -30px;
    &:checked+span {
      background-color: #1b5c88;
      box-shadow: inset 0 0 12px #000000aa;
      color: #fff;
    }
  }

}
