html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  justify-content: space-around;
}

#toast {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #00000088;
  color: #fff;
  padding: 4px 12px;
  border-radius: 4px;
  max-width: 70%;
  left: 50%;
  font-size: 13px;
  transform: translate(-50%, -100%);
  transition: transform .5s;
  &.visible {
    transform: translate(-50%, 20px);
  }
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

#side {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 430px;
  max-height: calc(100% - 20px);
  background-color: #1a1a1a88;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  backdrop-filter: blur(8px);
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  summary {
    text-align: left;
    font-weight: bold;
    cursor: pointer;
  }
  input,
  label,
  button,
  summary {
    pointer-events: initial;
  }
}

#palette {
  text-align: left;
}

#instruction {
  text-align: left;
  font-size: 12px;
}

#debug {
  padding-top: 16px;
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 13px;
  }
  .blocks {
    display: flex;
  }
  .history {
    .snaps {
      display: flex;
      overflow-x: scroll;
      gap: 1px;
      :last-child {
        border:1px solid rgb(40, 45, 53);
      }
      canvas {
        box-shadow: 0 0 16px #2c3e5080;
      }
    }
  }
}
