html,
body {
  overflow: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: grid;
  grid-template-columns: 400px 800px;
  grid-template-rows: 100vh;
  grid-template-areas: 'side main';
  max-width: 1300px;
  gap: 20px;
  margin: auto;
  justify-content: space-around;
}

#main {
  grid-area: main;
}

#side {
  grid-area: side;
}

#palette {
  text-align: left;
}

#instruction {
  text-align: left;
  font-size: 12px;
}

#debug {
  padding-top: 16px;
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 13px;
  }
  .blocks {
    display: flex;
  }
}
